<div class="user-pagination-wrapper">
    <p class="total-user">Total user record: <span id="total_user">@ViewBag.TotalData</span></p>
    <ul id="step_pagination" class="pagination step-pagination"></ul>
    <div class="show-per-page">
        <p>Display per page:</p>
        <select class="form-control" id="userPagination" name="userPagination">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>