.navbar-primary {
    padding: 20px 0;
}

.form-product-page {
    text-align: center;
}

.card-wrapper img {
    height: 250px;
}

.form-product-page .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form-product-page .input-wrapper label {
    text-align: center;
}
.form-product-page .input-wrapper input {
    margin: 0 auto;
}
body .form-product-page .btn-success {
    width: 130px;
    max-width: unset;
}
.has-error {
    color: red;
}
.text-action-message {
    text-align: center;
    margin: 20px 0;
    color: cadetblue;
    font-size: 3rem;
}