body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.page-title {
    margin: 30px 0;
    text-transform: uppercase;
}

/* Overriding BS Jumbotron */
.jumbotron {
    margin-top: 40px;
    text-align: center;
}


/* Card */
.navbar-inverse {
    padding: 20px 0;
}
.card-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 30px;
}
.card-wrapper img {
    width: 100%;
    object-fit: cover;
}
.card-title {
    text-align: center;
}
.card-price {
    text-align: center;
    color: #326207;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.card-price::before {
    content: "$";
    display: block;
    font-size: 20px;
    color: #326207;
}    
.card-wrapper .btn {
    width: 100%;
}

.btn_submit_product:focus {
    outline: none !important;
}

/* Login page */
.login-button-wrapper {
    display: flex;
    align-items: center;
}
body div.login-button-wrapper p {
    margin: 0;
    margin-left: 20px;
}

/* Edit user */
#admin_setting {
    margin-top: 7px;
    display: flex;
}
.checkbox-wrapper {
    display: flex;
    margin: 0 !important;
    align-items: center;
    margin-right: 20px !important;
}

.checkbox-wrapper label {
    margin: 0;
    margin-right: 5px;
}

.checkbox-wrapper input {
    margin: 0;
}

.user-accesbility h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.user-accesbility label {
    margin-right: 5px;
}

.user-pagination-wrapper {
    padding-top: 15px;
    border-top: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.show-per-page {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.pagination-button.active {
    background-color: seagreen;
    color: white;
}

.step-pagination {
    margin: 0;
}

#userPagination {
    width: 70px;
}

.pagination-button {
    background-color: #5bc0de;
    color: white;
    padding: 2px 7px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.pagination-button:focus {
    outline: none;
    border: none;
}

.user_list_endpoint {
    display: none;
}

.user_list_endpoint_step {
    display: none;
}

#sortById, #sortByEmail, #sortByName {
    cursor: pointer;
}

.user_pagination_email, .user_pagination_name, .user_pagination_id {
    display: none;
}

span.arrow {
    /*transform: rotate(-180deg); */
    transition: 0.3s;
    /* rotate: 20deg; */
    display: inline-block;
}

span.arrow.active {
    transform: rotate(-180deg);
    transition: 0.3s;
    display: inline-block;
    position: relative;
    bottom: 1px;
}