body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}

h2.page-title {
    font-size: 40px;
    font-weight: 700;
}

/* Overriding BS Jumbotron */
.jumbotron {
    margin-top: 40px;
    text-align: center;
}


/* Card */
.navbar-inverse {
    padding: 20px 0;
}
.card-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 30px;
}
.card-wrapper img {
    width: 100%;
    object-fit: cover;
}
.card-title {
    text-align: center;
}
.card-price {
    text-align: center;
    color: #326207;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.card-price::before {
    content: "$";
    display: block;
    font-size: 20px;
    color: #326207;
}    
.card-wrapper .btn {
    width: 100%;
}