@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">My fisrt page in ASP, CRUD product with static data.</p>
    <p>@Html.ActionLink("Product Page", "Index", "Product", false , new { @class = "btn btn-info" })</p>
</div>
