@model IEnumerable<learnnet.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-4">
    <h1>ASP.NET</h1>
    <p class="lead">@ViewBag.Description</p>
    <p>@Html.ActionLink("Product Page", "Index", "Product", false , new { @class = "btn btn-info" })</p>
</div>

